@{
    ViewData["Title"] = "Bienvenido";
}


<div class="container">

    <a asp-action="Index"><img style="text-align: center;" src="~/images/norcam.jpg" alt="Logo_NorCam"></a>			
    
    <section class="main" style="text-align: center; margin-top: 10px;">
		
        <img src="~/images/comercio.gif" alt="comercio" class="img_banner"> 
		<p>Atendemos todas las operaciones aduaneras de Importación y Exportación de mercancías.</p>
	
    </section>
		
	<aside>
	
    	<h1>NORCAM S.A.</h1>
		<h2>AGENCIA DE ADUANA</h2><br>
		<h3>OPERADOR DE COMERCIO EXTERIOR</h3><br>   				   
		<h4>ATENDEMOS TODAS LAS OPERACIONES ADUANERAS DE IMPORTACIÓN Y EXPORTACIÓN DE MERCANCÍAS</h4><br>   
		<h3>ASESORAMIENTO, RAPIDEZ Y EFICIENCIA</h3><br>   				   
        
        <div id="redes02">

            <a href="#"><img src="~/images/phone.ico" style="margin-left: 8px;"><strong style="text-align: left; margin-left: 7px;">429 6436 - 453 0507</strong></a><br>


            <a href="#"><img src="~/images/WhatsApp.ico"><strong style="text-align: left;">997 518 748 - 998 134 639</strong></a><br>


            <a href="#"><img src="~/images/ubicacion.ico" style="margin-left: 4px;"><strong style="text-align: left; margin-left: 8px;">Jr. Pizarro Nro.240 Of.301 - Bellavista - Callao</strong></a><br>

        	<a href="#"><img src="~/images/correo.ico" style="margin-left: 4px;"><strong style="text-align: left; margin-left: 8px;">operaciones@norcamsa.pe</strong></a>

        </div>
		
    </aside>

</div>
