@model Cliente
<!-- Modal -->
                    <div class="modal fade" id="nuevoCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="container h-100">
                            <form method="post" action="">
                                <div class="form-group">
                                    <label asp-for="razon_social"></label>
                                    <input type="text" asp-for="razon_social" class="form-control" placeholder="Ej: NORCAM S.A.">
                                    <span asp-validation-for="razon_social" class="text-danger"></span>  
                                </div>
                                <div class="form-group">
                                    <label asp-for="ruc"></label>
                                    <input type="text" asp-for="ruc" class="form-control" placeholder="Ej: 10102892964">
                                    <span asp-validation-for="ruc" class="text-danger"></span>  
                                </div>
                                <div class="form-group">
                                    <label asp-for="direccion"></label>
                                    <input type="text" asp-for="direccion" class="form-control" placeholder="Ej: Calle Las begonias 123">
                                    <span asp-validation-for="direccion" class="text-danger"></span>  
                                </div>
                                <div class="form-group">
                                    <label asp-for="telefono"></label>
                                    <input type="text" asp-for="telefono" class="form-control" placeholder="Ej: +51 922 653 075">
                                    <span asp-validation-for="telefono" class="text-danger"></span>  
                                </div>
                                <div class="form-group">
                                    <label asp-for="fax"></label>
                                    <input type="text" asp-for="fax" class="form-control" placeholder="Ej: 9987889">
                                    <span asp-validation-for="fax" class="text-danger"></span>  
                                </div>
                            <div>
                            <button type="submit" name="button" class="btn btn-primary" style="margin-top: 20px;">Grabar</button>
                            </div>
                            </form>
                            </div>

                        

                       
                           
                        </div>
                    </div>
                    </div>