@{
    ViewData["Title"] = "Agregar Nuevo Cliente";
}
@{
    Layout="_LayoutCnt";
}
@model Cliente
<h3 style="margin-top: 10px;">NUEVO CLIENTE</h3>
<div class="modal-body">
    <div class="container h-100">
        <form asp-action="Edit">
            <input type="hidden" asp-for="id"/>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="razon_social"></label>
                    <input type="text" asp-for="razon_social" class="form-control" name="razon_social" id="razon_social" />
                    <span asp-validation-for="razon_social" class="text-danger"></span>  
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="ruc"></label>
                    <input type="text" asp-for="ruc" class="form-control" name="ruc" id="ruc">
                    <span asp-validation-for="ruc" class="text-danger"></span>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="direccion"></label>
                    <input type="text" asp-for="direccion" class="form-control" name="direccion" id="direccion">
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="telefono"></label>
                    <input type="text" asp-for="telefono" class="form-control" name="telefono" id="telefono">
                    <span asp-validation-for="telefono" class="text-danger"></span>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="fax"></label>
                    <input type="text" asp-for="fax" class="form-control" name="fax" id="fax">
                    <span asp-validation-for="fax" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div>
    <a asp-action="Index">Back to List</a>
</div>
            </div>
        </form>
    </div>
                        </div>
                  